<div class="app-container">
    <app-demo-toolbar title="Log in"></app-demo-toolbar>

    <div class="app-content">

        <div class="preenchimento-03"></div>

        <form [formGroup]="formGroup" class="form-flex-layout">

            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary">Login</button>

        </form>
        

    </div>

</div>