<form [formGroup]="formGroup" class="form-flex-layout">

    <div class="flex-row">
        <mat-form-field appearance="fill">
            <mat-label>Create Date</mat-label>
            <input matInput formControlName="createDate">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Update Date</mat-label>
            <input matInput formControlName="updateDate">
        </mat-form-field>
    </div>

    <div class="flex-row">
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" required>
        </mat-form-field>
    </div>

    <mat-slide-toggle color="primary" formControlName="admin">
        Is Admin?
    </mat-slide-toggle>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>

    <div class="flex-row">

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Repeat Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="flex-row justify-content-end">
        <button mat-raised-button disabled>Reset</button>
        <button mat-raised-button disabled color="primary">Save</button>
    </div>

</form>