<div class="app-container">

    <app-demo-toolbar [title]="'User: ' + user.email">

        <button mat-stroked-button routerLink="email">Email</button>

        <button mat-stroked-button (click)="onClickEmailKafka()">Email Kafka</button>

        <button mat-stroked-button routerLink="details">Details</button>
        <button mat-stroked-button routerLink="management/admin" [disabled]="!(user?.admin)">
            Management
        </button>

        <div class="preenchimento-1"></div>

        <button mat-stroked-button (click)="onClickLogOut()">Log out</button>
    </app-demo-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>

</div>